:root {
  --navyblue: #003366;
  --aquamarine: #71b1c5;
  --babyblue: #cbe6ef;
  --white: #f0f2f3;
  --orange: #f07f20;
  --amber: #fdb750;
  --yellow: #fccba0;
  --ltyellow: #feecc3;
  --dkblue: #2f6d80;
  --grey: #e1e7e0;
  --turquoise: #6aa4b0;
  --cream: #fefaf1;
  --midnight: #2b4560;
  --ltblue: #dbf5f0;
}
body {
  background: linear-gradient(
    90deg,
    rgba(252, 251, 245, 1) 8%,
    rgba(197, 224, 227, 1) 54%,
    rgba(106, 164, 176, 1) 82%
  );
  font-family: "Dosis", sans-serif;
}

header {
  border-bottom: 1px solid var(--grey);
  padding-bottom: 20px;
}
#city-entered {
  border-radius: 5px;
  width: 70%;
  height: 40px;
  font-size: 1.3em;
  font-family: "Dosis", sans-serif;
  background-color: var(--ltyellow);
  color: var(--navyblue);
}
#button {
  border-radius: 5px;
  width: 125px;
  padding: 10px;
  margin-left: 5px;
  background: var(--ltyellow);
  font-size: 1.3em;
  color: var(--navyblue);
  border: 2px solid var(--navyblue);
  font-family: "Dosis", sans-serif;
}
.container {
  display: flex;
  justify-content: space-between;
}
.weather-app {
  background: var(--dkblue);
  max-width: 600px;
  margin: 100px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px var(--aquamarine);
}

.weather-city {
  color: var(--cream);
  margin: 2px;
}

#current-weather-conditions {
  margin: 10px 0;
}
#current-weather-conditions strong {
  color: var(--cream);
}

p {
  margin: 0px;
  color: var(--grey);
  font-size: 1.2em;
  line-height: 28px;
}
.container-current-temp-display {
  display: flex;
  align-items: center;
  margin-right: 15px;
}
#current-temperature-icon {
  max-width: 100px;
  padding-right: 10px;
}

#current-temperature-value {
  font-size: 4.5em;
  color: var(--cream);
  font-weight: 700;
}
#current-temperature-unit {
  font-size: 1.2em;
  color: var(--cream);
  font-weight: 200;
  padding: 0 0 30px 3px;
}

footer {
  color: var(--white);
  margin: 10px auto;
  border-top: 1px solid var(--grey);
  padding: 20px 0 0 0;
  font-size: 0.8em;
  text-align: center;
}
footer a {
  color: var(--ltyellow);
}

@media screen and (max-width: 430px) {
 .container{
  justify-content:space-between;
 }
#city-entered {
margin: 5px auto;
  width: 100%;
  height: 40px;
  font-size: 1em;
}
#button {
  width: 100px;
  padding: 5px;
  margin: 5px auto;
  font-size: 1em;
}
 .container-current-temp-display {
  margin-right: 0px;
}
  #current-temperature-icon {
    width: 50px;
    padding-right: 3px;
  }

  #current-temperature-value {
    font-size: 2.5em;
    color: var(--cream);
    font-weight: 700;
  }
  #current-temperature-unit {
    font-size: 1em;
    color: var(--cream);
    font-weight: 200;
    padding: 0 0 15px 2px;
  }
}
