:root {
  --navyblue: #003366;
  --aquamarine: #71b1c5;
  --babyblue: #cbe6ef;
  --white: #f0f2f3;
  --orange: #f07f20;
  --amber: #fdb750;
  --yellow: #fccba0;
  --dkblue: #2f6d80;
  --grey: #e1e7e0;
  --turquoise: #6aa4b0;
  --cream: #fefaf1;
  --midnight: #2b4560;
  --ltblue: #dbf5f0;
}
body {
  background: var(--grey);
  font-family: "Dosis", sans-serif;
}

footer {
  color: var(--white);
  margin: 10px auto;
}
footer a {
  color: var(--amber);
}
h1 {
  color: var(--cream);
  margin: 2px;
}
p {
  margin: 0px;
  color: var(--yellow);
  font-size: 1.2em;
}
.weather-app {
  background: var(--midnight);
  max-width: 600px;
  margin: 100px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px var(--aquamarine);
}
#city-entered {
  border-radius: 5px;
  max-width: 400px;
  height: 40px;
  font-size: 1.3em;
  font-family: "Dosis", sans-serif;
  background-color: var(--cream);
  color: var(--navyblue);
}
#button {
  border-radius: 5px;
  width: 125px;
  padding: 10px;
  margin: 10px;
  background: var(--yellow);
  font-size: 1.3em;
  color: var(--navyblue);
  box-shadow: 2px 2px 5px var(--yellow);
  border: 2px solid var(--navyblue);
  font-family: "Dosis", sans-serif;
}
#current-weather-conditions {

}
#current-temperature-icon {

}
.weather-app {
}
